<!DOCTYPE HTML>
<html>
  <head>
    <link rel="shortcut icon" href="{{ sys.site_url }}{{ sys.favicon }}" />
    <title>{% block title %}New Page{% endblock %} - {{ sys.site_name }}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Neutrino Graphics LLC">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/chosen.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/chosen-bootstrap.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap-datetimepicker.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/main.css?v={{ atomar.version }}">
    <style>
    {{ sys.css_inline|raw }}
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/atomar/assets/js/html5shiv.js"></script>
      <script type="text/javascript" src="/atomar/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  {% if sys.debug %}
    {% set debug_class = 'debug' %}
  {% endif %}
  <body class="{{ debug_class }}">
    <!-- nav -->
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">View Site</a>
        </div>
        <div class="collapse navbar-collapse">
          {{ sys.menu.primary_menu|raw }}
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div>

    <!-- growl messages -->
    <div class="growl">
    <noscript>
      <div class="alert alert-danger fade in">
        <strong>Warning!</strong> This website requires javascript to run correctly. Please enable javascript in your browser before using this site.
      </div>
    </noscript>
  {% for e in sys.error %}
      <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ e }}
      </div>
  {% endfor %}
  {% for e in sys.warning %}
      <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> {{ e }}
      </div>
  {% endfor %}
  {% for n in sys.notice %}
      <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Notice:</strong> {{ n }}
      </div>
  {% endfor %}
  {% for s in sys.success %}
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> {{ s }}
      </div>
  {% endfor %}
    </div>
    
    <!-- content -->
    <div class="container">
      <div class="row">
        <!-- side navigation -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="sidebar-nav admin-sidebar">
            {{ sys.menu.secondary_menu|raw }}
          </div>
        </div>
        <!-- content -->
        <div class="col-md-9">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <hr>
      
      <footer>
        &copy; {{ sys.year }}, <a href="{{ sys.site_url }}" tabindex="-1">{{ sys.site_name }}</a>
      </footer>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap.file-input.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Validate.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Process.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Confirmation.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/InlineEdit.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Lightbox.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/sonic.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/js_loader_animation.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/functions.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/head.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/main.js"></script>
    <script>
        head.js({{ atomar.js|raw }}, function() {
            $(document).ready(function() {
                {{ atomar.js_onload|raw }}
            });
        });
    </script>
  </body>
</html>
