{% extends "@atomar/views/admin/_base.html" %}

{% block title %}Modules{% endblock %}

{% block content %}
<div class="jumbotron hidden-phone">
    <h1>Modules</h1>
    <p>Below are a list of available modules. Everything is a module, even the main application.</p>
    <hr/>
    {% if app %}
        <h2>Application: {{ app.name }} {% if app.installed_version and app.is_enabled %}<small>v{{ app.installed_version }} {% if app.has_controls %}<a href="/atomar/modules/{{app.slug}}"><span class="glyphicon glyphicon-cog"></span></a>{% endif %}</small>{% endif %}</h2>
        <p>{{ app.description }}</p>
        {% if app.installed_version != app.version %}
            {% if app.is_update_pending %}<p>v{{ app.version }} is available</p>{% endif %}
            <!--TODO: need to provide an uninstall button-->
        {% elseif not app.is_enabled %}
            <p class="text-muted">Run update to install v{{ app.version }}</p>
        {% endif %}
        {% if app.is_missing_dependencies %}
        <p class="warning">Some dependencies are missing</p>
        {% endif %}
    {% endif %}
</div>
<p class="text-muted">
    These modules were found in <code>{{ modules_dir }}</code>
</p>
{% if modules%}
<form action="/atomar/modules" method="POST">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Version</th>
            <th>Atomar</th>
            <th>Dependencies</th>
            <th></th>
        </tr>
        {% for ext in modules %}
        {% if ext.is_enabled %}
        <tr class="success">
            {% else %}
        <tr>
            {% endif %}
            <td>{{ ext.name }} {% if ext.is_enabled and ext.has_controls %}<a href="/atomar/modules/{{ ext.slug }}"><span class="glyphicon glyphicon-cog"></span></a>{% endif %}</td>
            <td>{{ ext.description }}</td>
            <td>
                {% if ext.is_enabled %}
                {{ ext.installed_version }}
                {% if ext.is_update_pending %}
                <span class="glyphicon glyphicon-gift pull-right tip"
                      title="Version {{ ext.version }} is available"></span>
                {% endif %}
                {% else %}
                {{ ext.version }}
                {% if ext.installed_version %}
                <a href="/atomar/api/uninstall_module?id={{ ext.id }}" class="tip pull-right text-muted"
                   data-confirm="CAUTION! Are you sure you want to completely uninstall this module. This may result in data loss."
                   title="Completely uninstall module"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
                {% endif %}
            </td>
            {% if ext.is_supported == '0' %}
            <td class="danger">
                {% else %}
            <td>
                {% endif %}
                {{ ext.core }}
            </td>
            <td>
                {% for d in ext.dependencies %}
                {% if d.is_enabled == false %}
                {% set class = 'text-warning' %}
                {% set extra = ' <span class="text-muted">(disabled)</span>' %}
                {% else %}
                {% set class = 'text-success' %}
                {% set extra = '' %}
                {% endif %}
                {% if d.exists != 1 %}
                {% set class = 'text-error' %}
                {% set extra = ' <span class="text-muted">(missing)</span>' %}
                {% endif %}
                <span class="{{class}}">{{ d.slug }}</span>{{ extra|raw }},
                {% endfor %}
            </td>
            <td>
                <input type="checkbox" name="extensions[{{ ext.id }}]" {% if ext.is_enabled %}checked{% endif %} {% if
                       ext.required %}disabled{% endif %}>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success pull-right" data-loading-text="Loading...">Update</button>
</form>
{% else %}
<div class="well">
    No modules were found.
</div>
{% endif%}
{% endblock %}