<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ atomar.site_url }}{{ atomar.favicon }}" />
    <title>{% block title %}New Page{% endblock %} - {{ atomar.site_name }}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="author" content="Neutrino Graphics LLC">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/chosen.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/chosen-bootstrap.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap-datetimepicker.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/main.css?v={{ atomar.version }}">
    <style>
    {{ atomar.css_inline|raw }}
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/atomar/assets/js/html5shiv.js"></script>
      <script src="/atomar/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  {% if atomar.debug %}
    {% set debug_class = 'debug' %}
  {% endif %}
  <body class="{{ debug_class }}">

    <div class="container">
      <!-- growl messages -->
      <div class="growl">
        <noscript>
          <div class="alert alert-danger fade in">
            <strong>Warning!</strong> This website requires javascript to run correctly. Please enable javascript in your browser before using this site.
          </div>
        </noscript>
    {% for e in atomar.error %}
        <div class="alert alert-danger fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Error!</strong> {{ e }}
        </div>
    {% endfor %}
    {% for e in atomar.warning %}
        <div class="alert alert-warning fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> {{ e }}
        </div>
    {% endfor %}
    {% for n in atomar.notice %}
        <div class="alert alert-info fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Notice:</strong> {{ n }}
        </div>
    {% endfor %}
    {% for s in atomar.success %}
        <div class="alert alert-success fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> {{ s }}
        </div>
    {% endfor %}
      </div>
      
      <!-- nav -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          {{ atomar.menu.primary_menu|raw }}
        </div><!--/.nav-collapse -->
      </div>

      <!-- content -->
      <div class="row">
        <div class="col-md-12">
          {% block content %}
          {% endblock %}
        </div>
        
      </div>

      <!-- footer -->
      <div class="footer">
        <p>&copy; {{ atomar.year }}, <a href="{{ atomar.site_url }}" tabindex="-1">{{ atomar.site_name }}</a></p>
      </div>

    </div> <!-- /container -->


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap.file-input.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Validate.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Process.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Confirmation.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/InlineEdit.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Lightbox.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/sonic.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/js_loader_animation.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/functions.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/head.js"></script>
    <script>
        head.js({{ atomar.js|raw }}, function() {
            $(document).ready(function() {
                {{ atomar.js_onload|raw }}
            });
        });
    </script>
    <script type="text/javascript" src="/atomar/assets/js/main.js"></script>
  </body>
</html>