<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ atomar.site_url }}{{ atomar.favicon }}" />
    <title>{% block title %}New Page{% endblock %} - {{ atomar.site_name }}</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Neutrino Graphics LLC">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/chosen.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/chosen-bootstrap.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/bootstrap-datetimepicker.min.css?v={{ atomar.version }}">
    <link rel="stylesheet" type="text/css" href="/atomar/assets/css/main.css?v={{ atomar.version }}">
    <style>
    {{ atomar.css_inline|raw }}
    </style>
  </head>
  {% if atomar.debug %}
    {% set debug_class = 'debug' %}
  {% endif %}
  <body class="{{ debug_class }} {{ body_class }} plain">
    <!-- growl messages -->
    <div class="growl">
    <noscript>
      <div class="alert alert-danger fade in">
        <strong>Warning!</strong> This website requires javascript to run correctly. Please enable javascript in your browser before using this site.
      </div>
    </noscript>
  {% for e in atomar.error %}
      <div class="alert alert-danger fade in">
        {% if not lightbox %}<button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
        <strong>Error!</strong> {{ e }}
      </div>
  {% endfor %}
  {% for n in atomar.notice %}
      <div class="alert alert-info fade in">
        {% if not lightbox %}<button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
        <strong>Notice:</strong> {{ n }}
      </div>
  {% endfor %}
  {% for s in atomar.success %}
      <div class="alert alert-success fade in">
        {% if not lightbox %}<button type="button" class="close" data-dismiss="alert">&times;</button>{% endif %}
        <strong>Success!</strong> {{ s }}
      </div>
  {% endfor %}
    </div>

    <!-- content -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap.file-input.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Validate.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Process.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Confirmation.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/InlineEdit.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/Lightbox.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/sonic.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/js_loader_animation.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/functions.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/head.js"></script>
    <script type="text/javascript" src="/atomar/assets/js/main.js"></script>
    <script>
        head.js({{ atomar.js|raw }}, function() {
            $(document).ready(function() {
                {{ atomar.js_onload|raw }}
            });
        });
    </script>
  </body>
</html>
